<li>
  <div class="comic-image-container">
    <% favorite = [true, false].sample %>
    <% if favorite %>
      <img src="http://i.annihil.us/u/prod/marvel/i/mg/2/60/4bb4e5edf3b8c.jpg" class="character-comic-img comic-border">
    <%else%>
      <img src="http://i.annihil.us/u/prod/marvel/i/mg/2/60/4bb4e5edf3b8c.jpg" class="character-comic-img comic-no-border">
    <%end%>
    <div class='favorite-position'>
      <% if favorite %>
        <%= image_tag('heart_on', alt: "Marvel logo", class: "marvel-logo") %>
      <%else%>
        <%= image_tag('heart_off', alt: "Marvel logo", class: "marvel-logo") %>
      <%end%>
    </div>
  </div>
</li>