<main>
  <p class="error-message">Failed to load characters. Please, try again later.</p>
  <div class="container">
    <div class="featured-character">
      <div class="featured-character-img">
        <div class="featured-character-details">
          <h1 class="character-name"></h1>
          <ul class="character-links">
          </ul>
        </div>
      </div>
      <div class="character-details">
        <ul class="character-comics">
          <%= render partial: 'comic', collection: @comics %>
        </ul>
        <div class="row paginate-container">
          <div>
            <% if @page > 0 %>
              <%= button_to 'PREVIOUS PAGE', root_path, method: :get, class: "paginate-left-button paginate-buttons", params: {page: @page-1, character_id: @character_id}%>
            <%end%>
            <% next_page = @page + 1 %>
            <% if @page < @total_pages.to_i %>
              <%= button_to 'NEXT PAGE', root_path, method: :get, class: "paginate-right-button paginate-buttons", params: {page: @page+1, character_id: @character_id} %>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>